<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="guidelines" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Guidelines</h2>
      <div class="header_side">
        <button type="button" class="noti_btn input">
          <img src="/assets/icon-bell.svg" alt="">
          <span>7</span>
        </button>
      </div>
    </div>
    <div class="top_btn">
      <input type="submit" class="site_btn round" value="Add" form="add-faq-form"></input>
    </div>
    <div class="guide">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              <a href="<%=terms_and_conditions_admins_guidelines_path%>">Terms & Condition</a>
            </li>
            <li>
              <a href="<%=privacy_policy_admins_guidelines_path%>">Privacy Policy</a>
            </li>
            <li>
              <a href="<%=faqs_admins_guidelines_path%>" class="active">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="faq_edit">
            <div class="top">
              <a href="<%=faqs_admins_guidelines_path%>" class="icon">
                <img src="/assets/Arrow - Left.svg" alt="">
              </a>
              <h5>Add More FAQ</h5>
            </div>
            <%= form_with url: create_faq_admins_guidelines_path, :id => 'add-faq-form' do |f| %>
              <div class="textarea">
                <input type="text" class="input" name="question" placeholder="Enter Title" required>
              </div>
              <div class="detail">
                <textarea class="input h-100" name="answer" placeholder="Enter Description" required></textarea>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- account_section -->
<!-- Main Js -->
<script src="/assets/main.js"></script>