<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="guidelines" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Guidelines</h2>
      <div class="header_side">
      <div class="dropdown" id="notify_dropDown">
        <button type="button" class="noti_btn input" data-bs-auto-close="outside" data-bs-toggle="dropdown">
          <%= image_tag "icon-bell.svg" %>
          <span><%=@notifications.count%></span>
        </button>
        <%= render 'shared/notifications', :locals => {:notifications => @notifications } %>
        <div class="show_notification_div"></div>
      </div>
      </div>
    </div>
    <div class="top_btn">
      <input type="submit" class="site_btn round" value="Save Changes" form="edit-terms-form"></input>
    </div>
    <div class="guide">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              <a href="<%=terms_and_conditions_admins_guidelines_path%>" class="active">Terms & Condition</a>
            </li>
            <li>
              <a href="<%=privacy_policy_admins_guidelines_path%>">Privacy Policy</a>
            </li>
            <li>
              <a href="<%=faqs_admins_guidelines_path%>">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <% @terms_and_conditions.each do |term|%>
            <%= form_with(model: @page, url: update_terms_and_conditions_admins_guidelines_path(id: term.id), :id => 'edit-terms-form') do |f| %>
              <div class="details my-4">
                <div class="field">
                <%= f.rich_text_area :description, value: term.content.body, required: true %>
                </div>
              </div>
              <div class="btn_blk justify-content-between">
                <input type="hidden" id="term_id" name="term_id" value=<%=term.id%>>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- account_section -->
<!-- Main Js -->
<script src="/assets/main.js"></script>