<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="guidelines" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Guidelines</h2>
      <div class="header_side">
        <button type="button" class="noti_btn input">
          <%= image_tag "icon-bell.svg" %>
          <span>7</span>
        </button>
      </div>
    </div>
    <%= render :partial => "shared/error_success_messages" %>
    <div class="top_btn">
      <a href="<%= add_faq_admins_guidelines_path %>" class="site_btn round">Add More</a>
    </div>
    <div class="guide">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              <a href="<%=terms_and_conditions_admins_guidelines_path%>">Terms & Condition</a>
            </li>
            <li>
              <a href="<%=privacy_policy_admins_guidelines_path%>">Privacy Policy</a>
            </li>
            <li>
              <a href="<%=faqs_admins_guidelines_path%>" class="active">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="faq_questions">
            <%@faqs.each do |faq|%>
              <div class="question_blk">
                <%@count=@count+1%>
                <div class="top">
                  <h6><%=faq.question%></h6>
                  <div class="icon_blk">
                    <a href="<%=edit_faq_admins_guidelines_path(faq_id: faq.id)%>" class="icon">
                      <%= image_tag "Edit.svg" %>
                    </a>
                    <a href="<%=destroy_faq_admins_guidelines_path(faq_id: faq.id)%>" class="icon">
                      <%= image_tag "Delete.svg" %>
                    </a>              
                  </div>
                </div>
                <p><%=faq.answer%></p>
              </div>
              <hr>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- account_section -->
<!-- Main Js -->
<script src="/assets/main.js"></script>