<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="guidelines" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Guidelines</h2>
      <div class="header_side">
        <button type="button" class="noti_btn input">
          <img src="/assets/icon-bell.svg" alt="">
          <span>7</span>
        </button>
      </div>
    </div>
    <div class="top_btn">
      <a href="<%=faqs_admins_guidelines_path%>" class="site_btn round">Add More</a>
    </div>
    <div class="guide">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              <a href="<%=terms_and_conditions_admins_guidelines_path%>" class="active">Terms & Condition</a>
            </li>
            <li>
              <a href="<%=privacy_policy_admins_guidelines_path%>">Privacy Policy</a>
            </li>
            <li>
              <a href="<%=faqs_admins_guidelines_path%>">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="faq_questions">
            <%@faqs.each do |faq|%>
              <div class="question_blk">
              <%@count=@count+1%>
                <div class="top">
                  <h6>FAQ Question <%=@count%> </h6>
                  <div class="icon_blk">
                    <a href="<%=edit_faq_admins_guidelines_path(id: faq.id)%>" class="icon">
                      <img src="/assets/Edit.svg" alt="">
                    </a>
                    <a href="<%=destroy_faq_admins_guidelines_path(id: faq.id)%>" class="icon">
                      <img src="/assets/Delete.svg" alt="">
                    </a>              
                  </div>
                </div>
                <p><%=faq.content.body%></p>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- account_section -->
<!-- Main Js -->
<script src="/assets/main.js"></script>