<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="guidelines" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Guidelines</h2>
      <div class="header_side">
        <button type="button" class="noti_btn input">
          <img src="/assets/icon-bell.svg" alt="">
          <span>7</span>
        </button>
      </div>
    </div>
    <div class="top_btn">
      <a href="<%=faqs_admins_guidelines_path%>" class="site_btn round">Add More</a>
    </div>
    <div class="guide">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              <a href="<%=terms_and_conditions_admins_guidelines_path%>" class="active">Terms & Condition</a>
            </li>
            <li>
              <a href="<%=privacy_policy_admins_guidelines_path%>">Privacy Policy</a>
            </li>
            <li>
              <a href="<%=faqs_admins_guidelines_path%>">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="faq_questions">
            <div class="question_blk">
              <div class="top">
                <h6>FAQ Question 1</h6>
                <div class="icon_blk">
                  <a href="<%=edit_faqs_admins_guidelines_path%>" class="icon">
                    <img src="/assets/Edit.svg" alt="">
                  </a>
                  <a href="#" class="icon">
                    <img src="/assets/Delete.svg" alt="">
                  </a>              
                </div>
              </div>
              <p>
              Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi. Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- account_section -->
<!-- Main Js -->
<script src="/assets/main.js"></script>