<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="guidelines" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Guidelines</h2>
      <div class="header_side">
      <div class="dropdown" id="notify_dropDown">
        <button type="button" class="noti_btn input" data-bs-auto-close="outside" data-bs-toggle="dropdown">
          <%= image_tag "icon-bell.svg" %>
          <span id="notification_counter"><%=@notifications.count%></span>
        </button>
        <%= render 'shared/notifications', :locals => {:notifications => @notifications } %>
      </div>
      </div>
    </div>
    <%= render :partial => "shared/error_success_messages" %>
    <div class="show_notification_div"></div>

    <div class="top_btn">
      <a href="<%=edit_terms_and_conditions_admins_guidelines_path%>" class="site_btn round">Edit</a>
    </div>
    <div class="guide">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              <a href="<%=terms_and_conditions_admins_guidelines_path%>" class="active">Terms & Condition</a>
            </li>
            <li>
              <a href="<%=privacy_policy_admins_guidelines_path%>">Privacy Policy</a>
            </li>
            <li>
              <a href="<%=faqs_admins_guidelines_path%>">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="guidelines_detail">
          <%# <p><%=@terms_and_conditions.last.content.body</p> %>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- account_section -->
<!-- Main Js -->
<script src="/assets/main.js"></script>