 <%= render "devise/shared/error_messages", resource: resource %>
 <section id="logon" style="background-image: url('Logon.jpg')">
    <div class="contain">
      <div class="log_blk">
        <div class="form_wrapper">
          <div class="logo">
            <%= image_tag "logo-on.svg" %>
          </div>
          <h3>Reset Password</h3>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <h6>New Password</h6>
            <%= f.hidden_field :reset_password_token %>
            <div class="form_blk input">
              <%= image_tag "icon-lock.svg" %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "Type here", class: "input" %>
            </div>
            <h6>Confirm New Password</h6>
            <div class="form_blk input">
              <%= image_tag "icon-lock.svg" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Type here", class: "input" %>
            </div>
            <div class="btn_blk">
              <button type="submit" class="site_btn w-100">Confirm</button>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="car_img">
      <%= image_tag "bg-car.png" %>
    </div>
  </section>
  <!-- Logon Section -->

  <!-- Main Js -->
  <script src="/assets/main.js"></script>
