  <%= render "devise/shared/error_messages", resource: resource %>
  <section id="logon" style="background-image: url('Logon.jpg')">
    <div class="contain">
      <div class="log_blk">
        <div class="form_wrapper">
          <div class="logo">
            <%= image_tag "logo-on.svg" %>
          </div>
          <h3>Forgot Password</h3>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <h6>Email Address</h6>
            <div class="form_blk">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Type here", class: "input" %>
            </div>
            <div class="btn_blk">
              <button type="submit" class="site_btn w-100">Reset Password</button>
            </div>
          <%end%>
        </div>
      </div>
    </div>

    <div class="car_img">
      <%= image_tag "bg-car.png" %>
    </div>

  </section>
  <!-- Logon Section -->

  <!-- Main Js -->
  <script src="/assets/main.js"></script>

