<div class="popup" style="display: block;">
  <div class="table_dv overlay">
    <div class="table_cell">
      <div class="contain-fluid">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="_inner">
              <button type="button" class="x_btn"></button>
              <div class="log_strip"
                style="background-image: url('/assets/logon-strip.svg')">
                <p class="fs_5">Edit Car Model</p>
              </div>
              <%= form_with url: update_model_admins_cars_path(id: model.id) do |f| %>
                <div class="prof_img" style="position:relative;">
                  <div class="img" style="width:80%">
                    <%= image_tag "upload-photo.png" %>
                  </div>
                  <div class="upload-preview">
                    <img />
                  </div>
                  <% if model.image.attached?%>
                    <%= image_tag model.image.url, id: 'car_model_image'%>
                  <%end%>
                  <%= f.file_field :image, class: "file", accept: 'image/png, image/gif, image/jpeg', style: "position:absolute; top:0; left:0; opacity:0; padding-bottom: 100%;" %>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form_blk">
                      <label for="">Car Model</label>
                      <input type="text" name="title" value="<%=model.title%>" class="input" placeholder="type here">
                    </div>
                    <div class="form_blk">
                      <label for="">Color</label>
                      <input type="text" name="color" value="<%=model.color%>" class="input" placeholder="type here">
                    </div>
                    <div class="form_blk">
                      <label for="">Released</label>
                      <input type="text" name="released" value="<%=model.released%>" class="input" placeholder="type here">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form_blk">
                      <label for="">Length</label>
                      <input type="text" name="length" value="<%=model.length%>" class="input" placeholder="type here">
                    </div>
                    <div class="form_blk">
                      <label for="">Width</label>
                      <input type="text" name="width" value="<%=model.width%>" class="input" placeholder="type here">
                    </div>
                    <div class="form_blk">
                      <label for="">Height</label>
                      <input type="text" name="height" value="<%=model.height%>" class="input" placeholder="type here">
                    </div>
                  </div>
                </div>
                <div class="btn_blk mt-5">
                  <button class="site_btn px ">Save changes</button>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>