<head>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>

<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="car_modal" class="main_side">
    <div id="top_header">
      <h2><%=@brand.title%></h2>
      <div class="header_side">
      <div class="dropdown" id="notify_dropDown">
        <button type="button" class="noti_btn input" data-bs-auto-close="outside" data-bs-toggle="dropdown">
          <%= image_tag "icon-bell.svg" %>
          <span><%=@notifications.count%></span>
        </button>
        <%= render 'shared/notifications', :locals => {:notifications => @notifications } %>
      </div>
      </div>
    </div>
    <%= render :partial => "shared/error_success_messages" %>
    <div class="search">
      <div class="arrow_section">
        <div class="img">
          <a href="<%=admins_cars_path%>">
            <%= image_tag "arrow_left.svg" %>
          </a>
        </div>
        <%= form_with url: get_model_details_admins_cars_path, id: "searchform", method: :get do |f| %>
          <div class="form_blk input round_input ">
            <button class="btn" type="submit">
              <%= image_tag "Search.svg" %>
            </button>
            <%= f.hidden_field :brand_id, value: @brand.id%>
            <%= f.text_field :search_key, id: "searchbtn", value: @search_key, class: "input", placeholder: "Search car model" %>
          </div>
        <%end%>
      </div>

      <div class="button_blk">
        <%= form_with url: export_csv_admins_cars_path, :class => 'd-flex align-items-center justify-center gap-5', method: :get do |f| %>
          <%= f.hidden_field :brand_id, value: @brand.id%>
          <input class="input" type="text" name="daterange"/>
          <button class="site_btn round bg_white d-flex align-items-center justify-content-center" role='button'>
            <p class='text-black m-0 export-text'>Export CSV</p>
            <img src="/assets/Download-black.svg" height='16.5px' width='17.53px' />
          </button>
        <% end %>
        <button class="site_btn round pop_btn" data-popup="Add_car_model">Add Car Model</button>
      </div>

    </div>
    <!-- table_section -->
    <%if @car_models.present?%>
      <div id="table_users">
        <div class="table__blk">
          <%# pop up to edit sub admin %>
          <div class="edit_popup_div"></div>

          <table>
            <thead>
              <tr>
                <th style="width: 31rem;">MODEL</th>
                <th style="width: 15rem;">COLOR</th>
                <th style="width: 15rem;">LENGTH</th>
                <th style="width: 15rem;">WIDTH</th>
                <th style="width: 15rem;">HEIGHT</th>
                <th style="width: 15rem;">RELEASED</th>
              </tr>
            </thead>
            <tbody>
              <%@car_models.each do |model|%>
                <tr>
                  <td>
                    <div class="user">
                      <div class="ellipse">
                        <% if model.image.attached?%>
                          <%= image_tag(model.image.url)%>
                        <% else %>
                          <%= image_tag "default-profile.jpg" %>
                        <%end%>
                      </div>
                      <div><%=model.car_brand.title%> <%=model.title%></div>
                    </div>
                  </td>
                  <td><%=model.color%></td>
                  <td><%=model.length%></td>
                  <td><%=model.width%></td>
                  <td><%=model.height%></td>
                  <td>
                    <div class="active ">
                      <span><%=model.released%></span>
                      <div class="dropdown dropstart">
                        <button class="btn" type="button" id="dropdownMenuButton1"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          <%= image_tag "dot-icon.svg" %>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li class="dropdown-item">
                            <a class="edit_car_model pop_btn" data-id="<%=model.id%>">Edit Details</a>
                          </li>
                          <li class="dropdown-item"><a href="<%=delete_model_admins_cars_path(id: model.id)%>">Delete</a></li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>

        <%if @car_models.present?%>
          <!-- pagination_section -->
          <div class="paginate_sec">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
              <li class="d-flex me-4">
              Rows per page: <%=@car_models.size%>
              </li>
              <% params[:page] = params[:page].nil? ? "1" :  params[:page] %>
              <li><%=params[:page]%> of <%=@car_models.total_pages%></li>
              <li class="page_item me-4 d-flex">
              </li>
              </ul>
            </nav>
            <%= will_paginate @car_models %>
          </div>
        <%end%>
      </div>
    <%else%>
      <p class="no_modal">There is no car model present.</p>
    <%end%>
    
    <div class="popup" data-popup="Add_car_model">
      <div class="table_dv overlay">
        <div class="table_cell">
          <div class="contain-fluid">
            <div class="row justify-content-center">
              <div class="col-6">
                <div class="_inner">
                  <button type="button" class="x_btn"></button>
                  <div class="log_strip"
                    style="background-image: url('/assets/logon-strip.svg')">
                    <p class="fs_5">Add Car Model</p>
                  </div>
                  <%= form_with url: create_model_admins_cars_path(brand_id: @brand.id) do |f| %>
                    <div class="prof_img" style="position:relative;">
                      <div class="img" style="width:80%">
                        <%= image_tag "upload-photo.png" %>
                      </div>
                      <div class="upload-preview">
                          <img />
                      </div>
                      <%= f.file_field :image, class: "file", accept: 'image/png, image/gif, image/jpeg', style: "position:absolute; top:0; left:0; opacity:0; padding-bottom: 100%;", required: true %>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                      <div class="form_blk">
                        <label for="">Car Model</label>
                        <input type="text" name="title" class="input" placeholder="type here" required>
                      </div>
                      <div class="form_blk">
                        <label for="">Color</label>
                        <input type="text" name="color" class="input" placeholder="type here" required>
                      </div>
                      <div class="form_blk">
                        <label for="">Released</label>
                        <input type="text" name="released" class="input" placeholder="type here" required>
                      </div>
    
                        </div>
                        <div class="col-md-6">
                      <div class="form_blk">
                        <label for="">Length</label>
                        <input type="text" name="length" class="input" placeholder="type here" required>
                      </div>
                      <div class="form_blk">
                        <label for="">Width</label>
                        <input type="text" name="width" class="input" placeholder="type here" required>
                      </div>
                      <div class="form_blk">
                        <label for="">Height</label>
                        <input type="text" name="height" class="input" placeholder="type here" required>
                      </div>
                        </div>
                    </div>
                    <div class="btn_blk mt-5">
                      <button class="site_btn long ">Add</button>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</section>
<!-- account_section -->
<!-- Main Js -->
<script src="/assets/main.js"></script>
<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'left'
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>