<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="carlist" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Car List</h2>
      <div class="header_side">
      <div class="dropdown" id="notify_dropDown">
        <button type="button" class="noti_btn input" data-bs-auto-close="outside" data-bs-toggle="dropdown">
          <%= image_tag "icon-bell.svg" %>
          <span><%=@notifications.count%></span>
        </button>
        <%= render 'shared/notifications', :locals => {:notifications => @notifications } %>
      </div>
    </div>
    </div>
    <%= render :partial => "shared/error_success_messages" %>
    <div class="search">
      <%= form_with url: admins_cars_path, id: "searchform", method: :get do |f| %>
        <div class="form_blk input round_input ">
          <button class="btn" type="submit">
            <%= image_tag "Search.svg" %>
          </button>
          <%= f.text_field :search_key, id: "searchbtn", value: @search_key, class: "input", placeholder: "Search car brand" %>
        </div>
      <%end%>
      <button class="site_btn round pop_btn" data-popup="forget_pass">Add Car Brand</button>
    </div>
    <% if @car_brands.present? %>
      <div class="row m-0">
        <% @car_brands.each do |brand|%>
          <div class="col brands">
            <div class="item">
              <div class="img">
                <% if brand.image.attached?%>
                  <%= image_tag(brand.image.url)%>
                <% else %>
                  <%= image_tag "default-profile.jpg" %>
                <%end%>
              </div>
              <strong><%= link_to brand.title, get_model_details_admins_cars_path(brand_id: brand.id) %></strong>
            </div>
          </div>
        <%end%>
      </div>
    <%else%>
      <p class="no_modal">There is no car brand present.</p>
    <%end%>
    <div class="popup" data-popup="forget_pass">
    <div class="overlay"></div> 
    <div class="table_dv">
      <div class="table_cell">
        <div class="contain-fluid">
          <div class="row justify-content-center">
            <div class="col-3">
              <div class="_inner">
                <button type="button" class="x_btn"></button>
                <div class="log_strip" style="background-image: url('/assets/logon-strip.svg')">
                  <p class="fs_5">Add Car Brand</p>
                </div>
                <%= form_with url: create_brand_admins_cars_path do |f| %>
                  <div class="prof_img" style="position:relative;">
                    <div class="img" style="width:80%">
                      <%= image_tag "upload-photo.png" %>
                    </div>
                    <div class="upload-preview">
                        <img />
                    </div>
                    <%= f.file_field :image, class: "file", accept: 'image/png, image/gif, image/jpeg', style: "position:absolute; top:0; left:0; opacity:0; padding-bottom: 100%;", required: true %>
                  </div>
                    <div class="form_blk">
                    <label class="text-center">Enter a card brand</label>
                    <input type="text" name="name" class="input" placeholder="type here" required>
                    </div>  
                      <div class="btn_blk">
                        <button class="site_btn px">Add</button>
                      </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>     
  </div>
</section>
<!-- account_section -->
<!-- Main Js -->
<script src="/assets/main.js"></script>