<aside id="sidebar">
  <div class="inside">
    <div class="logo_blk">
      <div class="logo">
        <a href="<%= admins_dashboard_index_path %>">
          <%= image_tag "logo_icon.svg" %>
        </a>
      </div>
    </div>
    <ul style="background-image: url('strip_left.svg');">
      <li>
        <a href="<%= admins_dashboard_index_path %>" class="active">
          <%= image_tag "icon-category.svg" %>
        </a>
      </li>
      <li>
        <a href="<%= admins_users_path %>">
          <%= image_tag "icon-users.svg" %>
        </a>
      </li>
      <li>
        <a href="<%= admins_cars_path %>">
          <%= image_tag "icon-car2.svg" %>
        </a>
      </li>
      <li>
        <a href="<%= terms_and_conditions_admins_guidelines_path %>">
          <%= image_tag "icon-document.svg" %>
        </a>
      </li>
      <li>
        <a href="<%= admins_supports_path %>">
          <%= image_tag "icon-phone.svg" %>
        </a>
      </li>
      <li>
        <a href=<%= destroy_admin_session_path %> data-method="delete">
          <%= image_tag "icon-logout.svg" %>
        </a>
      </li>
    </ul>
  </div>
</aside>