<div class="popup" style="display: block">
  <div class="overlay"></div>
  <div class="table_dv">
    <div class="table_cell">
      <div class="contain-fluid">
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="_inner">
              <button type="button" class="x_btn"></button>
              <div class="log_strip" style="background-image: url('/assets/logon-strip.svg')">
                <p class="fs_5 mb-4">Send Money</p>
              </div>
              <div class="dash_card mb-5">
                <div class="ico">
                  <%= image_tag "icon-dollar.svg" %>
                </div>
                <div class="txt">
                  <h3><%=admin.revenue&.amount%></h3>
                  <span>Your Total Credit</span>
                </div>
              </div>
              <%= form_for :revenue, url: send_money_admins_users_path, remote: true do |f| %>
                <%= f.hidden_field :user_id, value:user.id %>
                <%= f.hidden_field :admin_id, value:admin.id %>

                <div class="form_blk">
                  <label>type here</label>
                  <input type="text" name="revenue[amount]" class="input" placeholder="type here" maxlength="8" onkeypress="return isNumberKey(event);" required>
                </div>
                <div class="btn_blk">
                  <%= f.submit "Add", class: 'site_btn px pop_btn' %>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function isNumberKey(event) {
    var charCode = (event.which) ? event.which : event.keyCode;
    if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    if(charCode == 46)
        return false;
    return true;
  }
</script>