<div class="popup" style="display: block">
      <div class="overlay"></div>
      <div class="table_dv">
        <div class="table_cell">
          <div class="contain-fluid">
            <div class="row justify-content-center">
              <div class="col-7">
                <div class="_inner">
                  <button type="button" class="x_btn"></button>
                  <div class="log_strip"
                    style="background-image: url('/assets/logon-strip.svg')">
                    <p class="fs_5">User Profile</p>
                  </div>
                  <div class="top_blk">
                    <div class="img">
                      <% if user.image.attached?%>
                        <%= image_tag(user.image.url)%>
                      <% else %>
                        <%= image_tag "default-profile.jpg" %>
                      <%end%>
                    </div>
                    <button type="button" class="send_money site_btn" id="send_money" data-id="<%=user.id%>">Send Money</button>
                  </div>
                  <div class="send_money_popup_div"></div>
                  <div class="detail_blk">
                    <h5>Personal Information</h5>
                    <div class="row my-5">
                      <div class="col-2">Name</div>
                      <div class="col-5"><h6><%=user.name%></h6></div>
                      <div class="col-2">Car Brand</div>
                      <div class="col-3"><h6><%=user&.car_detail&.car_brand&.title%></h6></div>
                      <div class="col-2">Email</div>
                      <div class="col-5"><h6><%=user.email%></h6></div>
                      <div class="col-2">Model</div>
                      <div class="col-3"><h6><%=user&.car_detail&.car_model&.title%></h6></div>
                      <div class="col-2">Number</div>
                      <div class="col-5"><h6><%=user.contact%></h6></div>
                      <div class="col-2">Brought</div>
                      <div class="col-3"><h6><%=user&.car_detail&.car_model&.released%></h6></div>
                    </div>
                    <h5>History</h5>
                    <div class="row">
                      <div class="col-5">
                        <div class="history_blk position-relative">
                          <ul class="history_list">
                            <%if @histories.present?%>
                              <%@histories.each do |history|%>
                                <%connection = SwapperHostConnection.find_by(id: history.connection_id)%>
                                <%slot = ParkingSlot.find_by(id: connection&.parking_slot_id)%>
                                <li>
                                  <div class="item" id ="history_item" data-id="<%=history.id%>">
                                    <div class="d-flex justify-content-between align-items-center">
                                      <h6 class="mb-0 fw-normal"><%=slot&.address%></h6>
                                      <p>$<%=history.total_fee.to_f%></p>
                                    </div>
                                    <p><span><%=history.created_at.strftime("%b %e %Y")%></span> &nbsp • &nbsp <span><%=history.created_at.strftime("%H:%M")%></span></p>
                                  </div>
                                </li>
                              <%end%>
                            <%else%>
                            <div class="no_history">
                              <p>There is no history present.</p>
                            </div>
                            <%end%>
                          </ul>
                        </div>
                      </div>
                      <div class="col-7">
                        <%if @histories.present?%>
                          <div class="host_details_div"></div>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>