<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="users" class="main_side">
    <div id="top_header">
      <h2>Users</h2>
      <div class="header_side">
        <!-- <div class="form_blk input">
          <img src="/assets/icon-search.svg" alt="">
          <input type="text" name="" id="" class="input" placeholder="Search">
        </div> -->
        <button type="button" class="noti_btn input">
          <img src="/assets/icon-bell.svg" alt="">
          <span>7</span>
        </button>
      </div>
    </div>
    <div class="search">
      <div class="form_blk input round_input ">
        <button class="btn">
          <img src="/assets/Search.svg" alt="">
        </button>
        <input class="input " type="text" name="" id="" placeholder="Search car brand">
      </div>
      <div class="button_blk">
        <button class="site_btn round bg_white">Export CSV
          <div class="icon">
            <img src="/assets/Download-black.svg" alt="">
          </div>
        </button>
        <button class="site_btn round">Add User</button>
      </div>
    </div>
    <div class="profile_popup_div"></div>
    <div class="send_money_popup_div"></div>
    <div class="disable_user_popup_div"></div>

    <!-- table_section -->
    <div id="table_users">
      <%if @users.present?%>
        <div class="table__blk">
          <table>
            <thead>
              <tr>
                <th style="width: 20rem;">USERS</th>
                <th style="width: 20rem;">EMAIL</th>
                <th style="width: 20rem;">PHONE NUMBER</th>
                <th style="width: 19rem;">SMART CAR</th>
                <th style="width: 15rem;">CAR MAKE</th>
                <th style="width: 15rem;">YEAR BOUGHT</th>
                <th style="width: 15rem; text-align: left">STATUS</th>
              </tr>
            </thead>
            <tbody>
            <%@users.each do |user|%>
              <tr>
                <td>
                    <div class="user">
                    <div class="ellipse">
                      <img src="/assets/Ellipse-user.svg" alt="">
                    </div>
                    <div><%=user.name%></div>
                    </div>
                </td>
                <td><%=user.email%></td>
                <td><%=user.contact%></td>
                <td><%=user.car_detail&.car_brand&.title%> <%=user.car_detail&.car_model&.title%></td>
                <td><%=user.car_detail&.car_brand&.title%></td>
                <td>2021</td>
                <td>
                  <div class="active justify-content-between ">
                    <span style="text-align: left; padding-left: 2rem"><%=user.status%></span>
                    <div class="dropdown">
                      <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/dot-icon.svg" alt="">
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item view_detail" data-id="<%=user.id%>">View Details</a></li>
                        <li><a class="dropdown-item send_money" data-id="<%=user.id%>">Send Money</a></li>
                        <li><a class="dropdown-item disable_user" data-id="<%=user.id%>">Disable</a></li>
                      </ul>
                    </div>      
                  </div>
                </td>
              </tr>
            <%end%>
            </tbody>
          </table>
        </div>

        <!-- pagination_section -->
        <div class="paginate_sec">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="d-flex me-4">
              Rows per page: 10
                <div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="icon">
                      <img src="/assets/dropdown-icon.svg" alt="">
                    </div>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </li>

              <li>1-10 of 30</li>

              <li class="page_item me-4 d-flex">
                <a class="page_link icon_blk fw_600" href="#" >                             
                  <img src="/assets/left-arrow-icon.svg" aria-hidden="true" alt="icon">                                
                </a>
                <a class="page_link icon_blk fw_600" href="#" >                                                             
                  <img src="/assets/right-arrow-icon.svg" aria-hidden="true" alt="icon">
                </a>
              </li>
            </ul>
          </nav>
        </div>
      <%else%>
        There is no user present.  
      <%end%>
    </div>

    <div class="popup" data-popup="confirm_money" id="confirm_money_modal">
      <div class="overlay"></div>
      <div class="table_dv">
        <div class="table_cell">
          <div class="contain-fluid">
            <div class="row justify-content-center">
              <div class="col-3">
                <div class="_inner">
                  <%# <button type="button" class="x_btn"></button> %>
                  <div class="log_strip" style="background-image: url('/assets/logon-strip.svg')">
                    <p class="fs_5">Hey!</p>
                  </div>
                  <h4 class="text-center mb-4">Are you sure you want to send a money to this user?  </h4>
                  <div class="row">
                    <div class="col-6">
                      <button class="site_btn px w-100 blank stroke">No</button>
                    </div>
                    <div class="col-6">
                      <button class="site_btn px w-100 pop_btn" data-popup="confirm_yes_money">Yes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup" data-popup="confirm_yes_money">
      <div class="overlay"></div>
      <div class="table_dv">
        <div class="table_cell">
          <div class="contain-fluid">
            <div class="row justify-content-center">
              <div class="col-3">
                <div class="_inner">
                  <button type="button" class="x_btn"></button>
                  <div class="log_strip" style="background-image: url('/assets/logon-strip.svg')">
                    <p class="fs_5 mb-4">Yay!</p>
                  </div>
                  <h5 class="text-center">Money has been sent!</h5>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>     
  </div>
</section>
<!-- account_section -->
<!-- Main Js -->
<script src="/assets/main.js"></script>