<head>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>

<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="users" class="main_side">
    <div id="top_header">
      <h2>Users</h2>
      <div class="header_side">
      <div class="dropdown" id="notify_dropDown">
        <button type="button" class="noti_btn input" data-bs-auto-close="outside" data-bs-toggle="dropdown">
          <%= image_tag "icon-bell.svg" %>
          <span><%=@notifications.count%></span>
        </button>
        <%= render 'shared/notifications', :locals => {:notifications => @notifications } %>
      </div>
      </div>
    </div>
    <%= render :partial => "shared/error_success_messages" %>
    <div class="search">
      <%= form_with url: admins_users_path, id: "searchform", method: :get do |f| %>
        <div class="form_blk input round_input ">
          <button class="btn" type="submit">
            <%= image_tag "Search.svg" %>
          </button>
          <%= f.text_field :search_key, id: "searchbtn", value: @search_key, class: "input", placeholder: "Search user" %>
        </div>
      <%end%>
      
      <div class="button_blk">
        <%= form_with url: export_csv_admins_users_path, :class => 'd-flex align-items-center justify-center gap-5', method: :get do |f| %>
          <input class="input" type="text" name="daterange"/>
          <button class="site_btn round bg_white d-flex align-items-center justify-content-center" role='button'>
            <p class='text-black m-0 export-text'>Export CSV</p>
            <img src="/assets/Download-black.svg" height='16.5px' width='17.53px' />
          </button>
        <% end %>
      </div>
    </div>
    <div class="profile_popup_div"></div>
    <div class="approve_user_success_div"></div>
    <div class="send_money_popup_div" id="send_money_popup_div"></div>
    <div class="disapprove_user_popup_div"></div>
    <div class="disable_user_popup_div"></div>
    <div class="confirm_yes_popup_div"></div>
    <div class="confirm_disapprove_popup_div"></div>
    <div class="confirm_transfer_money_popup_div" id="confirm_transfer_money_popup_div"></div>
    <div class="send_money_confirmed_popup_div"></div>
    <div class="send_money_errors_popup_div"></div>

    <!-- table_section -->
    <div id="table_users">
      <%if @users.present?%>
        <div class="table__blk">
          <table>
            <thead>
              <tr>
                <th style="width: 20rem;">USERS</th>
                <th style="width: 20rem;">EMAIL</th>
                <th style="width: 20rem;">PHONE NUMBER</th>
                <th style="width: 19rem;">SMART CAR</th>
                <th style="width: 15rem;">CAR MAKE</th>
                <th style="width: 15rem;">YEAR BOUGHT</th>
                <th style="width: 15rem;">AMOUNT TRANSFER</th>
                <th style="width: 15rem;">TRANSFER FROM</th>
                <th style="width: 15rem; text-align: left">STATUS</th>
              </tr>
            </thead>
            <tbody>
            <%@users.each do |user|%>
              <tr>
                <td>
                    <div class="user">
                    <div class="ellipse">
                      <% if user.image.attached?%>
                        <%= image_tag(user.image.url)%>
                      <% else %>
                        <%= image_tag "default-profile.jpg" %>
                      <%end%>
                    </div>
                    <div><%=user.name%></div>
                    </div>
                </td>
                <td><%=user.email%></td>
                <td><%=user.contact%></td>
                <td><%=user.car_detail&.car_brand&.title%> <%=user.car_detail&.car_model&.title%></td>
                <td><%=user.car_detail&.car_model&.title%></td>
                <td><%=user.car_detail&.car_model&.released%></td>
                <td>$<%=user.amount_transfer.present? ? user.amount_transfer: 0%></td>
                <td><%=user.transfer_from.present? ? user.transfer_from : "-"%></td>
                <td>
                  <div class="active justify-content-between">
                    <span style="text-align: left; padding-left: 2rem"><%=user.status%></span>
                    <div class="dropdown">
                      <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= image_tag "dot-icon.svg" %>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item view_detail" data-id="<%=user.id%>">View Details</a></li>
                        <li><a class="dropdown-item approve" data-id="<%=user.id%>">Approve</a></li>
                        <li><a class="dropdown-item disapprove" data-id="<%=user.id%>">Disapprove</a></li>
                        <li><a class="dropdown-item send_money" data-id="<%=user.id%>">Send Money</a></li>
                        <li><a class="dropdown-item disable_user" data-id="<%=user.id%>">Disable</a></li>
                      </ul>
                    </div>      
                  </div>
                </td>
              </tr>
            <%end%>
            </tbody>
          </table>
        </div>

        <%if @users.present?%>
          <!-- pagination_section -->
          <div class="paginate_sec">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
              <li class="d-flex me-4">
              Rows per page: <%=@users.size%>
              </li>
              <% params[:page] = params[:page].nil? ? "1" :  params[:page] %>
              <li><%=params[:page]%> of <%=@users.total_pages%></li>
              <li class="page_item me-4 d-flex">
              </li>
              </ul>
            </nav>
            <%= will_paginate @users %>
          </div>
        <%end%>
      <%else%>
        <p class="no_modal">There is no user present.</p>
      <%end%>
    </div>
  </div>
</section>
<!-- account_section -->
<!-- Main Js -->
<script src="/assets/main.js"></script>
<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'left'
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>