<section id="logon" style="background-image: url(<%= asset_path "Logon" %>)">
  <div class="contain">
    <div class="log_blk">
      <div class="form_wrapper">
        <div class="logo">
          <%= image_tag "logo-on.svg" %>
        </div>
        <h3 class="mb-0">Sign in to manage</h3>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h5>Email Address</h5>
          <div class="form_blk error">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Type here", class: "input" %>
          </div>
          <div class="d-flex justify-content-between">
            <h5>Password</h5>
            <p><a href="<%= new_admin_password_path %>">Forgot password?</a></p>
          </div>
          <div class="form_blk input error">
            <%= image_tag "icon-lock-blue.svg" %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Type here", class: "input" %>
          </div>
          <div class="btn_blk">
            <button type="submit" class="site_btn w-100">Sign in</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="car_img">
    <%= image_tag "bg-car.png" %>
  </div>
</section>
<!-- Logon Section -->


<!-- Main Js -->
<script src="/assets/main.js"></script>
