<section id="account_section">
  <%= render :partial => "shared/sidebar" %>

  <div id="dash" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Dashboard</h2>
      <div class="header_side">
        <div class="btn_blk">
          <a href="<%= sub_admins_index_admins_dashboard_index_path %>" class="site_btn round">Sub Admin</a>
        </div>
        <div class="dropdown" id="notify_dropDown">
          <button type="button" class="noti_btn input" data-bs-auto-close="outside" data-bs-toggle="dropdown">
            <%= image_tag "icon-bell.svg" %>
            <span id="notification_counter"><%=@notifications.count%></span>
          </button>
          <%= render 'shared/notifications', :locals => {:notifications => @notifications } %>
        </div>
      </div>
    </div>
    <%= render :partial => "shared/error_success_messages" %>
    <div class="show_notification_div"></div>
    <div class="flex_row row">
      <div class="col">
        <div class="dash_card">
          <div class="ico">
            <%= image_tag "icon-download.svg" %>
          </div>
          <div class="txt">
            <h3><%=@csv_download_count%></h3>
            <span>Downloads</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="dash_card">
          <div class="ico">
            <%= image_tag "icon-team.svg" %>
          </div>
          <div class="txt">
            <h3><%= @users_count %></h3>
            <span>Users</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="dash_card">
          <div class="ico">
            <%= image_tag "icon-car.svg" %>
          </div>
          <div class="txt">
            <h3><%= @cars.count %></h3>
            <span>Cars</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="dash_card">
          <div class="ico">
            <%= image_tag "icon-dollar.svg" %>
          </div>
          <div class="txt">
            <h3><%= @revenue %></h3>
            <span>Revenue</span>
          </div>
        </div>
      </div>
      <div class="col col-auto">
        <div class="dash_card date_card">
          <div class="txt">
            <span><%= Time.now.strftime("%b") %></span>
            <h3 class="text_prime"><%= Time.now.day %></h3>
            <span><%= Time.now.year %></span>
          </div>
        </div>
      </div>
    </div>
    <%if $is_from_sign_up == "yes"%>
      <% $is_from_sign_up = "no" %>
      <%= render :partial => "shared/sign_up_success" %>
    <%end%>
    <%if @users.present?%>
      <div id="table_users">
        <div class="table__blk">
          <table>
            <thead>
            <tr>
              <th style="width: 20rem;">USERS</th>
              <th style="width: 20rem;">EMAIL</th>
              <th style="width: 15rem;">PHONE NUMBER</th>
              <th style="width: 10rem;">CAR</th>
              <th style="width: 15rem;">CAR MAKE</th>
              <th style="width: 15rem; display: none;">DATE JOINED</th>
              <th style="width: 15rem; display: none;">YEAR BOUGHT</th>
              <th style="width: 15rem;">STATUS</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <div class="user">
                    <div class="ellipse">
                      <% if user.image.attached? %>
                        <%= image_tag(user.image.url) %>
                      <% else %>
                        <img src="/assets/default-profile.jpg" alt="">
                      <% end %>
                    </div>
                    <div><%= user.name %></div>
                  </div>
                </td>
                <td><%= user.email %></td>
                <td><%= user.contact %></td>
                <td><%= user.car_detail&.car_brand&.title %>
                <td><%= user.car_detail&.car_model&.title %></td>
                <td><span><%= user.status %></span></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <% if @type != "view_all" && @users.count!=0 %>
          <div class="view_all">
            <a href="<%= admins_dashboard_index_path(type: "view_all") %>">view all</a>
          </div>
        <% end %>
      </div>
    <%else%>
      <p class="no_modal">There is no user present.</p>
    <%end%>
  </div>
</section>
<!-- account_section -->

<!-- Main Js -->
<script src="/assets/main.js"></script>