<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="support" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Support</h2>
      <div class="header_side">
      <div class="dropdown" id="notify_dropDown">
        <button type="button" class="noti_btn input" data-bs-auto-close="outside" data-bs-toggle="dropdown">
          <%= image_tag "icon-bell.svg" %>
          <span><%=@notifications.count%></span>
        </button>
        <%= render 'shared/notifications', :locals => {:notifications => @notifications } %>
      </div>
      </div>
    </div>
    <%= render :partial => "shared/error_success_messages" %>
    <div class="show_notification_div"></div>

    <div class="ctn">
      <div class="row">
        <div class="col-4">
          <div class="users_blk">
            <div class="top_blk">
              <%= form_with url: admins_supports_path, id: "searchform2", method: :get do |f| %>
                <div class="form_blk input search_blk ">
                  <button class="btn" id="customsearchbtn" type="submit">
                    <%= image_tag "Search.svg" %>
                  </button>
                  <%= f.text_field :search_key, id: "searchbtn2", value: @search_key, class: "input", placeholder: "Search Messages" %>
                </div>
              <%end%>
            </div>
            <ul class="users_list">
              <%unless @supports.present?%>
                <p class="no_user_found">There is no Support Ticket Present.</p>
              <%end%>
              <% @supports.each do |record| %>
                <li>
                  <%= link_to get_specific_chat_admins_support_path(id: record.id) do %>
                  <div class="user">
                    <div class="img">
                      <% if record.user.image.attached? %>
                        <%= image_tag(record.user.image.url, class: "h-100") %>
                      <% else %>
                        <%= image_tag "default-profile.jpg" %>
                      <% end %>
                    </div>
                    <div class="txt">
                      <h6 class="mb-0"><%= record.user.name %></h6>
                      <div class="d-flex">
                        <p class="msg"><%= last_message(record) %></p>
                        <% if unread_count(record) != 0 %>
                          <p>• <%= time_ago_in_words(last_seen(record)) if last_seen(record).present? %></p>
                        <%end%>
                      </div>
                      <% if unread_count(record) != 0 %>
                        <div class="u_msg">
                          <%= unread_count(record) %>
                        </div>
                      <%end%>
                    </div>
                  </div>
                    <%end%>
                </li>
              <%end%>
            </ul>
          </div>
        </div>
        <div class="col-8" data-admin="<%= current_admin.email %>" id="admin_email">
          <div class="chat_blk">
            <div class="top_blk">
              <div class="selected_chat">
                <div class="img">
                  <% if @last_support&.user&.image&.attached? %>
                    <%= image_tag(@last_support.user.image.url, class: "h-100") %>
                  <% else %>
                    <%= image_tag "default-profile.jpg" %>
                  <% end %>
                </div>
                <div class="txt">
                  <h6 class="mb-0"><%= @last_support&.user&.name %></h6>
                  <p class="mb-0"><%= @last_support&.ticket_number %></p>
                </div>
                <div class="dropdown">
                  <button class="site_btn blank sm dropdown-toggle chevron" data-bs-toggle="dropdown">
                    Mark as
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="<%= update_ticket_status_admins_supports_path(support_id: @last_support&.id, status: 'pending', id: @last_support&.user&.id) %>">Pending</a>
                    </li>
                    <li>
                      <a href="<%= update_ticket_status_admins_supports_path(support_id: @last_support&.id, status: 'completed', id: @last_support&.user&.id) %>">Completed</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="msg_contain" data-id="<%= @last_support&.support_conversation&.id %>" id="chatmessagebox">
               <% last_index = '' %>
              <% if @last_support&.support_conversation.present? %>
                <% @last_support.support_conversation.support_messages.each do |message| %>
                  <% if last_index != message.created_at.strftime("%D") %>
                    <div class="strike">
                      <span><%= message.created_at.strftime("%d %B %Y") %></span>
                    </div>
                    <% last_index = message.created_at.strftime("%D") %>
                  <%end%>
                  <% if message.user_id != nil %>
                    <div class="msg user">
                      <div class="profile">
                        <%= image_tag message&.support_conversation&.sender&.image&.attached? ? message.support_conversation.sender.image.url : "default-profile.jpg", class: "h-100" %>
                      </div>
                      <div class="msg_wrapper">
                        <div class="msg_blk">
                          <p>Open a Support Ticket <strong><%= @last_support&.ticket_number %></strong></p>
                          <p><%= message&.body %></p>
                          <% if message&.image&.attached? %>
                            <div class="attch_blk">
                              <div class="img">
                                <%= image_tag message&.image&.url %>
                              </div>
                              <button type="button" class="btn down_btn">
                                <%= link_to image_tag("icon-arrow-bottom.svg"), download_admins_supports_path(id: message.id) %>
                              </button>
                            </div>
                          <% end %>
                        </div>
                        <p><%= message.created_at.strftime("%H:%M") %></p>
                      </div>
                    </div>
                  <% else %>
                    <div class="msg admin">
                      <div class="profile">
                        <%= image_tag message&.support_conversation&.recipient&.image&.attached? ? message.support_conversation.recipient.image.url : "default-profile.jpg", class: "h-100" %>
                      </div>
                      <div class="msg_wrapper">
                        <div class="msg_blk">
                          <p>
                             <%= message.body %>
                          <% if message&.image&.attached? %>
                            <div class="attch_blk">
                              <div class="img">
                                <%= image_tag message&.image&.url %>
                              </div>
                              <button type="button" class="btn down_btn">
                              <%= link_to image_tag("icon-arrow-bottom.svg"), download_admins_supports_path(id: message.id) %>
                              </button>
                            </div>
                          <% end %>
                          </p>
                        </div>
                        <p><%= message.created_at.strftime("%H:%M") %></p>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <%= form_with url: admin_send_message_admins_supports_path do |f| %>
              <%= hidden_field_tag :id, @last_support&.support_conversation&.id %>
              <div class="send_blk">
                <div class="btn_blk flex-nowrap">
                  <button type="button" class="btn att-btn">
                    <%= image_tag "icon-attach.svg", alt: "attachFile", id: "clickaddfile"%>
                    <%= f.file_field :file, accept: 'application/pdf,application/vnd.ms-excel', id: "submitaddfile", style: "opacity:0" %>
                  </button>

                  <button type="button" class="btn att-btn">
                    <%= image_tag "icon-img.svg", alt: "attachImage", id: "clickaddphoto" %>
                    <%= f.file_field :image, accept: 'image/png, image/gif, image/jpeg', id: "submitaddphoto", style: "opacity:0" %>
                  </button>
                </div>
                <div class="sep"></div>
                <input type="text" name="message" id="input_field_text" class="input" placeholder="Write your message here via email...">
                <button type="submit" class="btn send_btn">
                  <%= image_tag "icon-send.svg" %>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(".msg_contain").scrollTop($(".msg_contain")[0].scrollHeight);
  $(document).ready(function(){
    $("#searchbtn2").keyup(function (){
      var word = $(this).val();
      $("#customsearchbtn").trigger('click');
    });
  });
</script>
