<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="support" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Support</h2>
      <div class="header_side">
        <button type="button" class="noti_btn input">
          <%= image_tag "icon-bell.svg" %>
        </button>
      </div>
    </div>
    <div class="ctn">
      <div class="row">
        <div class="col-4">
          <div class="users_blk">
            <div class="top_blk">
              <div class="form_blk input search_blk">
                <button type="button" class="btn search_btn">
                  <%= image_tag "search_icon.svg" %>
                </button>
                <input type="text" name="" class="input" placeholder="Search Messages">
              </div>
            </div>
            <ul class="users_list">
              <% @supports.each do |record| %>
                <li>
                  <div class="user">
                    <div class="img">
                      <% if record.user.image.attached? %>
                        <%= image_tag(record.user.image.url) %>
                      <% else %>
                        <%= image_tag "default-profile.jpg" %>
                      <% end %>
                    </div>
                    <div class="txt">
                      <h6 class="mb-0"><%= record.user.name %></h6>
                      <div class="d-flex">
                        <p class="msg"><%= last_message(record) %></p>
                        <p>• <%= time_ago_in_words(last_seen(record)) if last_seen(record).present? %></p>
                      </div>
                      <div class="u_msg">
                        <%= unread_count(record) %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-8" data-admin="<%= current_admin.email %>" id="admin_email">
          <div class="chat_blk">
            <div class="top_blk">
              <div class="selected_chat">
                <div class="img">
                  <% if @last_support&.user&.image&.attached? %>
                    <%= image_tag(@last_support.user.image.url) %>
                  <% else %>
                    <%= image_tag "default-profile.jpg" %>
                  <% end %>
                </div>
                <div class="txt">
                  <h6 class="mb-0"><%= @last_support&.user&.name %></h6>
                  <p class="mb-0"><%= @last_support&.ticket_number %></p>
                </div>
                <div class="dropdown">
                  <button class="site_btn blank sm dropdown-toggle chevron" data-bs-toggle="dropdown">
                    Mark as
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button type="button">Ongoing</button>
                    </li>
                    <li>
                      <button type="button">Completed</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="msg_contain" data-id="<%= @last_support&.support_conversation&.id %>" id="chatmessagebox">
              <div class="strike">
                <span>18 March 2021</span>
              </div>
              <% if @last_support&.support_conversation.present? %>
                <% @last_support.support_conversation.support_messages.each do |message| %>
                  <% if  message.support_conversation.sender.email ==  message.sender.email %>
                    <div class="msg user">
                      <div class="profile">
                          <%= image_tag message&.support_conversation&.sender&.image&.attached? ? message.support_conversation.sender.image.url : "default-profile.jpg" %>
                      </div>
                      <div class="msg_wrapper">
                        <div class="msg_blk">
                          <p>Open a Support Ticket <strong><%= @last_support&.ticket_number %></strong></p>
                          <p><%= message&.body %></p>
                          <% if message&.image&.attached? %>
                            <div class="attch_blk">
                              <div class="img">
                                <%= image_tag message&.image&.url %>
                              </div>
                              <button type="button" class="btn down_btn">
                                <%= image_tag "icon-arrow-bottom.svg" %>
                              </button>
                            </div>
                          <% end %>
                        </div>
                        <p><%= message.created_at.to_formatted_s(:long) %></p>
                      </div>
                    </div>
                  <% else %>
                    <div class="msg admin">
                      <div class="profile">
                        <%= image_tag "default-profile.jpg" %>
                      </div>
                      <div class="msg_wrapper">
                        <div class="msg_blk">
                          <p>
                             <%= message.body %>
                            <% if message&.image&.attached? %>
                            <div class="attch_blk">
                              <div class="img">
                                <%= image_tag message&.image&.url %>
                              </div>
                              <button type="button" class="btn down_btn">
                                <%= image_tag "icon-arrow-bottom.svg" %>
                              </button>
                            </div>
                          <% end %>
                          </p>
                        </div>
                        <p><%= message.created_at.to_formatted_s(:long) %></p>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <%= form_with url: admin_send_message_admins_supports_path do |f| %>
              <%= hidden_field_tag :id, @last_support&.support_conversation&.id %>
              <div class="send_blk">
                <div class="btn_blk flex-nowrap">
                  <button type="button" class="btn att-btn">
                    <%= image_tag "icon-attach.svg", alt: "attachFile", id: "clickaddfile" %>
                    <%= f.file_field :file, accept: 'application/pdf,application/vnd.ms-excel', id: "submitaddfile", style: "opacity:0" %>
                  </button>

                  <button type="button" class="btn att-btn">
                    <%= image_tag "icon-img.svg", alt: "attachImage", id: "clickaddphoto" %>
                    <%= f.file_field :image, accept: 'image/png, image/gif, image/jpeg', id: "submitaddphoto", style: "opacity:0" %>
                  </button>
                </div>
                <div class="sep"></div>
                <input type="text" name="message" class="input" placeholder="Write your message here via email...">
                <button type="submit" class="btn send_btn">
                  <%= image_tag "icon-send.svg" %>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
    $(".msg_contain").scrollTop($(".msg_contain")[0].scrollHeight);
</script>